*{
    margin:0;
    padding:0;
}
body{
    display:flex;
}
nav{
    max-width: 200px;
    min-width: 100px;
    height:100vh;
    background: grey;
}

.hide{
 display:none;   
}

.show{
    display:flex
}

label{
    flex:left;
}
input{
    flex:right;
}

#books{
    width:100%;
    gap:5px;
    flex-wrap: wrap;
}
form{
    flex-direction: column;
    width:200px;
}    
.card{
    height:100px;
    width:100px;
    background: rgb(166, 166, 166);
}