*{
    margin:0;
    padding:0;
}
body{
    display:flex;
}
nav{
    max-width: 200px;
    min-width: 100px;
    height:100vh;
    background: grey;
}
main{
    margin:30px;
    align-content:flex-start;
}
label{
    flex:left;
}
input{
    flex:right;
}

#library{
    display:flex;
        
    width:100%;
    gap:10px;
    flex-wrap: wrap;
}
#form{
    display:flex;
    gap:10px;
}
form{
    flex-direction: column;
    width:200px;
}    
.card{
    display:flex;
    flex-direction: column;
    height:200px;
    width:200px;
    background: rgb(166, 166, 166);
}